# Резервные копии редакторов с тильдой
*~

# Временные файлы редакторов
*.swp
*.swo
.*.swp
.*.swo

# Резервные копии Windows
Thumbs.db

# Служебные файлы IDE
.vscode/
.idea/
*.tmp

# Автосохранения редакторов
*.autosave
